@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Roboto&family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.name {
    font-size: 13px;
    font-family: 'Roboto Mono', sans-serif;
    color: #cccccc;
}

.social {
    font-size: 8px;
    font-family: 'Roboto Mono', sans-serif;
    color: #dadada4f;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgb(27, 0, 63), rgb(43, 0, 68));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.box img {
    border: 2px solid rgb(235, 235, 235);
    border-radius: 70px;  
}

.box {
    margin-bottom: 50px;
    width: 350px;
    height: 500px;
    /*background: #fff; */
}

button:hover {
    background-color: #8601a1
}

.first-button {
    margin-top: 30px;
}

.buttons {
    margin-top: 15px;
}

button {
    background-color: #8b0056;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    width: 350px;
    height: 50px;
    text-decoration: none;
    border: 0px;
    border-radius: 4px;
    animation: bounce 1s;
}

.hello-world img {
    width: 100px;
    animation: hello-world 6s linear infinite;
}

.hello-world {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes hello-world {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    70% {
        opacity: 0.8;
    }
    100% {
        transform: translateY(-95vh);
        opacity: 0;
    }
}

.hello-world img:nth-child(1) {
    animation-delay: 2s;
    width: 150px;
}

.hello-world img:nth-child(2) {
    animation-delay: 1s;
    width: 100px;
}

.hello-world img:nth-child(3) {
    animation-delay: 3s;
    width: 70px;
}

.hello-world img:nth-child(4) {
    animation-delay: 4.5s;
    width: 100px;
}

.hello-world img:nth-child(5) {
    animation-delay: 1.6s;
    width: 190px;
}

.hello-world img:nth-child(6) {
    animation-delay: 6s;
    width: 100px;
}

.hello-world img:nth-child(7) {
    animation-delay: 7s;
    width: 160px;
}